.container {
  padding-left: 25px;
  margin-right: 100px;
}

.main {
  display: flex;

  border-radius: 12px;
  background-color: #F1F3F6;

  justify-content: space-between;
  align-items: center;

  width: 325px;
  height: 116px;


}

.cur_balance {
  font-size: 12px;
  line-height: 19px;
  letter-spacing: 0.06em;

  color: #3A4276;
}

.plus {
  margin-top: 34px;
}