.serv {
  text-align: center;
  justify-content: center;
  //align-items: center;
}

.serviceBtn {
  width: 60px;
  height: 60px;

  background-color: #F1F3F6;
  border-radius: 12px;
  border: none;

}

.text {
  font-size: 10px;
  line-height: 15px;

  word-break: break-all;
  letter-spacing: 0.06em;

  color: #7B7F9E;
}