.writing {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  max-height: 25px;
  margin-bottom: 20px;
  padding-left: 25px;

  &__text {
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;

    color: #3A4276;
  }

  &__btn {
    background-color: white;
    border: none;
  }
}

